html, body {
    margin: 0px;
}

.container-one {
    height: 250px;
    min-height: 100%;
    background: #1F2937;
    display: flex;
}

.container-two {
    height: 250px;
    display: flex;
}

.container-three {
    height: 250px;
    background: #E5E7EB;
    display: flex;
}

.container-four {
    display: flex;
}